<div class="content-container">
    <div class="questions">
      <h2>Who are the greatestest athletes of all time?</h2>
      <h2>Let us know who is your top six and why</h2>
      <a href="signup"><button id='getStarted' type="button" name="button">Get Started</button></a>
      <a href="login"><button id='getStarted' type="button" name="button">Login</button></a>
    </div>
  </div>
