<div class="content-container">
    <div class="questions">
      <h2 class='question1'>Who are the greatest athletes of all time?</h2>
      <h2 class='question1'>Create a title:</h2>
      <h2 class='question1'><em>Greatest ________ of all time</em></h2>
      <h2 class='question1'>Let us know who is your top three and why</h2>
      <a href="signup"><button class='getStarted' type="button" name="button">Get Started</button></a><br>
      <a href="login"><button class='getStarted' type="button" name="button">Login</button></a>
    </div>
  </div>
