<div class="login-form">
  <div class="row">

    <div class="main">

      <h3 class='lighter'>Please Log In, or <a href="signup">Sign Up</a></h3>
      <div class="row">
        <div class="col-xs-6 col-sm-6 col-md-6">
          <a href="#" class="btn btn-lg btn-primary btn-block">Facebook</a>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6">
          <a href="#" class="btn btn-lg btn-info btn-block">Google</a>
        </div>
      </div>
      <div class="login-or">
        <hr class="hr-or">
        <span class="span-or">or</span>
      </div>

      <form action="/login" method="post" role="form">
        <div class="form-group">
          <label class='lighter'for="inputUsernameEmail">email</label>
          <input type="email" name='email'class="form-control" id="inputUsernameEmail">
        </div>
        <div class="form-group">
          <a class="pull-right" href="#">Forgot password?</a>
          <label class='lighter' for="inputPassword">Password</label>
          <input type="password" name='password'class="form-control" id="inputPassword">
        </div>
        <div class="checkbox pull-right">
          <label>
            <input type="checkbox">
            Remember me </label>
        </div>
        <button type="submit" class="btn btn btn-primary">
          Log In
        </button>
      </form>

    </div>

  </div>

</div>
