<div class="post-form">
  <br>
  <form  action="/post" method="post">
    <label for="">Category</label><br>
    <input type="text" name="category" value=""><br>
    <label for="">Title</label><br>
    <input type="text" name="title" value=""><br>
    <label for="">Content</label><br>
    <input id='content'type="text" name="content" value=""><br><br>
    <label for="">Image</label><br>
    <input type="text" name="url" value=""><br>
    <input type="submit" name="submit" value="Submit">
  </form>
</div>
