<div class="post-form">
  <br>
  <form  action="/post" method="post">
    <label for="">Category</label><br>
    <input id='category' type="text" name="category" value=""><br>
    <label for="">Title</label><br>
    <input id='title'type="text" name="title" value=""><br>
    <label for="">Rank #1</label><br>
    <input class='playerName'type="text" name="playerone" value=""><br>
    <label for="">Player One Image</label><br>
    <input type="text" name="p1_url" value=""><br>
    <label for="">Three Relevant Stats</label><br>
    <input type="text" name="p1_statOne" value=""><br>
    <input type="text" name="p1_statTwo" value=""><br>
    <input type="text" name="p1_statThree" value=""><br>
    <label for="">Rank #2</label><br>
    <input class='playerName'type="text" name="playertwo" value=""><br>
    <label for="">Player Two Image</label><br>
    <input type="text" name="p2_url" value=""><br>
    <label for="">Three Relevant Stats</label><br>
    <input type="text" name="p2_statOne" value=""><br>
    <input type="text" name="p2_statTwo" value=""><br>
    <input type="text" name="p2_statThree" value=""><br>
    <label for="">Rank #3</label><br>
    <input class='playerName'type="text" name="playerthree" value=""><br>
    <label for="">Player Three Image</label><br>
    <input type="text" name="p3_url" value=""><br>
    <label for="">Three Relevant Stats</label><br>
    <input type="text" name="p3_statOne" value=""><br>
    <input type="text" name="p3_statTwo" value=""><br>
    <input type="text" name="p3_statThree" value=""><br>
    <label for="">Content</label><br>
    <input id='content'type="text" name="content" value=""><br><br>

    <input type="submit" name="submit" value="Submit">
  </form>
</div>
