<div class="post-form">
  <br>
  <form action="/post" method="post">
      <label for="">Category</label><br>
      <input id='category' type="text" name="category" value=""><br><br>
      <label for="">Title</label><br>
      <input id='title'type="text" name="title" value=""><br>

  <div class="post_grid">
    <div class="post_player">
      <label for="">Player Ranked #1</label><br><br>
      <input class='playerName'type="text" name="playerone" value=""><br><br>
      <label for="">Player One Image</label><br>
      <input type="text" name="p1_url" value=""><br><br>
      <label for="">Three Relevant Stats</label><br>
      <input type="text" maxlength="20" name="p1_statOne" value=""><br><br>
      <input type="text" maxlength="20" name="p1_statTwo" value=""><br><br>
      <input type="text" maxlength="20" name="p1_statThree" value=""><br><br>
    </div>
    <div class="post_player">
      <label for="">Player Ranked #2</label><br><br>
      <input class='playerName'type="text" name="playertwo" value=""><br><br>
      <label for="">Player Two Image</label><br>
      <input type="text" name="p2_url" value=""><br><br>
      <label for="">Three Relevant Stats</label><br>
      <input type="text" maxlength="20" name="p2_statOne" value=""><br><br>
      <input type="text" maxlength="20" name="p2_statTwo" value=""><br><br>
      <input type="text" maxlength="20" name="p2_statThree" value=""><br><br>
    </div>

    <div class="post_player">
      <label for="">Player Ranked #3</label><br><br>
      <input class='playerName'type="text" name="playerthree" value=""><br><br>
      <label for="">Player Three Image</label><br>
      <input type="text" name="p3_url" value=""><br><br>
      <label for="">Three Relevant Stats</label><br>
      <input type="text" maxlength="20" name="p3_statOne" value=""><br><br>
      <input type="text" maxlength="20" name="p3_statTwo" value=""><br><br>
      <input type="text" maxlength="20" name="p3_statThree" value=""><br><br>
    </div>

    <div id="post_player_content">
      <label>Content</label><br>
      <textarea id='content'type="text" name="content" value=""></textarea><br><br>
    </div>

  </div>





    <input type="submit" name="submit" value="Submit">
  </form>
</div>
