.post{
  border: 2px solid;
  margin-top: 10%;
  margin-bottom: 10%;
  font-family: 'Signika', sans-serif;
  text-align: center;
  border-radius: 10%;
}

.img_grid{
  display: grid;
  grid-template: 100%/repeat(3, 1fr);
  padding: 5%;
  grid-gap: 3%;
  font-size: 1.5em;
  z-index: -1;
}

.img_grid h4{
  color:gold;
  font-size: 1.5em;
  text-shadow: 0px 4px black;
}

.img_grid li{
  text-align: left;
  line-height: 2em;
}

.img_grid div{
  box-shadow: 0px 10px 20px;
  z-index: 2;
  border-radius:5%;
  border: 1px solid black;
}

.profile_grid{
  margin: 10% auto;
  display: grid;
  grid-template: .8fr .2fr/repeat(2,1fr);
  background-color:rgb(32, 18, 195,0.1);
  box-shadow: 8px 8px 20px black;
  height:60vh;
}

.profile_grid li{
  line-height: 3em;
  font-size: 1.5em;
}

.profile_grid img{
  border: 1px solid black;
}

.profile{
  grid-column: 2/-1;
  grid-row: 1/2;
}

.post_choice{
  grid-column: 2/-1;
  grid-row: 2/-1;
}

.profile_pic{
  grid-column: 1/2;
  grid-row: 1/2;
}

.cancel{
  grid-column: 1/2;
  grid-row: 2/-1;
}

#cancel_button{
  color: yellow;
  background-color: red;
  font-size: 1em;
  border: 1px solid black;
}

#cancel_button:hover{
  color: red;
  background-color: yellow;
}

.posting_option{
  color: white;
  font-size: 2em;
  background-color: rgb(8, 49, 172);
  margin:0 auto;
}
