html{
  background-color: #fdcb6e;

}

body{
  margin: 0;
  padding: 0;
  background-image: radial-gradient(circle at top right, red,rgb(25, 25, 73),black);
  animation-name: float;
  animation-duration: 1s;
  color: white;
}


h1{
  font-size: 2.7em;
  font-family: 'Diplomata SC', cursive;
}

label{
  color: white;
}

form{
  text-align: center;
}

@keyframes float {
    0%   {background-image: radial-gradient(circle at bottom left, red, black, rgb(25, 25, 73));}
    25%  {background-image: radial-gradient(farthest-side at 25% 75%, red, black, rgb(25, 25, 73));}
    35%  {background-image: radial-gradient(farthest-side at 25% 75%, red, black, rgb(25, 25, 73));}
    50%  {background-image: radial-gradient(circle at center, red, black, rgb(25, 25, 73));}
    65%  {background-image: radial-gradient(farthest-side at 75% 25%, red, black, rgb(25, 25, 73));}
    75%  {background-image: radial-gradient(farthest-side at 75% 25%, red, black, rgb(25, 25, 73));}
    100% {background-image: radial-gradient(circle at top right, red, black, rgb(25, 25, 73));}
}
#navbar{
  display: inline-block;
  grid-column:1/-2;
  grid-row: 1/2;
}

#navbar a{
  text-decoration: none;
  color: #fdcb6e;
}

#navbar li{
  display: inline-block;
  margin-left: 5%;
  list-style: none;
  font-size: 20px;

}

#navbar li :hover{
  color: yellow;
}

.picture{
  grid-column: 2/-1;
  grid-row: 1/-1;
}

.banner{
  display: grid;
  grid-template: .5fr 1.5fr/ 1fr 1fr;
  color: gold;
  height:70vh;
  width: 100%;
}

.container{
  height: 100%;
  width:75%;
}

#athlete{
  height: 100%;
  width: 100%;
}

.logo_title{
  margin:auto auto;
}

.content-container{
  height: 30%;
  width: 75%;
  margin: 10% auto;
}

.questions{
  display: block;
  width:100%;
  margin: 10% auto;
  text-align: center;
  font-family: 'Signika', sans-serif;
  line-height: 2.5;
}

.question1{
  font-size: 3.5em;
  margin-bottom: 10%;
}

.getStarted{
  font-size: 1.5em;
  border-radius: 10%;
  background-color: rgb(25, 25, 73);
  font-family: 'Signika', sans-serif;
  margin-bottom: 5%;
  color:gold;
  box-shadow: 2px 2px 2px white;
}

.getStarted:hover{
  background-color: gold;
  color: rgb(25, 25, 73);
}


#goat_title{
  margin-top: -21%;
  font-size: 4.52em;
}

.lighter{
  color:white; important!
}
